@using LumexUI.Common
@using LumexUI.Shared.Icons
@inherits LayoutComponentBase

<LumexToastProvider />

<div class="max-w-5xl mx-auto px-4">

    <LumexNavbar Sticky="@true">
        <LumexNavbarBrand>
            <LumexLink Href="/"
                       Color="@ThemeColor.None">
                <span class="font-bold text-xl">
                    Board<span class="font-normal">Games</span>
                </span>
            </LumexLink>
        </LumexNavbarBrand>


        <LumexNavbarContent Align="Align.End">
            <LumexNavbarItem>
                <LumexLink Href="/new-match"
                           Color="@ThemeColor.Primary">
                    New Match
                </LumexLink>
            </LumexNavbarItem>
            <LumexNavbarItem>
                <LumexLink Href="/settings"
                            Color="@ThemeColor.None">
                    <SettingsIcon/>
                </LumexLink>
            </LumexNavbarItem>

        </LumexNavbarContent>
    </LumexNavbar>


    <main>
        @Body
    </main>
</div>