<script type="module" src="@Assets["Components/Layout/ReconnectModal.razor.js"]"></script>

<dialog id="components-reconnect-modal" data-nosnippet 
        class="flex inset-0 m-0 p-0 border-0 bg-transparent
    items-center justify-center w-full h-full
    [&:not([open])]:hidden
    [&::backdrop]:bg-black/30
    [&::backdrop]:backdrop-blur-md">
    <div class="components-reconnect-container m-auto">
        <LumexSpinner Label="Reconnecting..." Size="LumexUI.Common.Size.Large" />
    </div>
</dialog>
