@import "tailwindcss";
@import "../bin/lumexui/theme"; /* theme */

@source "../bin/lumexui/*.cs"; /* styles */
@source "../**/*.razor";

.no-select,
.no-select * {
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}