@using LumexUI.Common
@using Microsoft.EntityFrameworkCore

@inject AppDbContext Db
@inject NavigationManager Nav


<LumexDataGrid Data="@_locations" SelectionMode="@SelectionMode.Multiple" @bind-SelectedItems="_selectedLocations">
    <ToolbarContent>
        <div class="max-w-sm">
            <ModalLocation />
            <LumexButton OnClick="DeleteSelected" Disabled="_selectedLocations.Count < 1">Delete Selected</LumexButton>
        </div>
    </ToolbarContent>
    <ChildContent>
        <PropertyColumn Property="@(p => p.Description)" />
    </ChildContent>
</LumexDataGrid>

@code {
    private IQueryable<mdLocation> _locations => Db.Locations;
    private ICollection<mdLocation> _selectedLocations = [];

    private void Reload()
    {
        StateHasChanged();
    }


    private async Task DeleteSelected()
    {
        Db.Locations.RemoveRange(_selectedLocations);
        await Db.SaveChangesAsync();
        Nav.NavigateTo(Nav.Uri, forceLoad: true);
    }

}

