@page "/settings"
@using BoardGames.Components.Pages.Icons
@using LumexUI.Shared.Icons

<h3>Settings</h3>
<div class="overflow-x-auto">
    <LumexTabs Color="@LumexUI.Common.ThemeColor.Primary">
        <LumexTab>
            <TitleContent>
                <p>Games</p>
            </TitleContent>
            <ChildContent>
                <SettingsGames />
            </ChildContent>
        </LumexTab>
        <LumexTab>
            <TitleContent>
                <p>Factions</p>
            </TitleContent>
            <ChildContent>
                <SettingsFactions />
            </ChildContent>
        </LumexTab>
        <LumexTab>
            <TitleContent>
                <p>Players</p>
            </TitleContent>
            <ChildContent>
                <SettingsPlayers />
            </ChildContent>
        </LumexTab>
        <LumexTab>
            <TitleContent>
                <p>Locations</p>
            </TitleContent>
            <ChildContent>
                <SettingsLocations />
            </ChildContent>
        </LumexTab>
    </LumexTabs>
</div>
@code {

}
