@page "/settings"

<h3>Settings</h3>

    <LumexTabs>
        <LumexTab Title="Games">
            <SettingsGames/>
        </LumexTab>
        <LumexTab Title="Factions">
            <SettingsFactions />
        </LumexTab>
        <LumexTab Title="Videos">
            <LumexCard>
                <LumexCardBody>
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                    mollit anim id est laborum.
                </LumexCardBody>
            </LumexCard>
        </LumexTab>
    </LumexTabs>


@code {

}
