@page "/settings"
@using BoardGames.Components.Pages.Icons
@using LumexUI.Shared.Icons

<h3>Settings</h3>
<div class="overflow-x-auto">
    <LumexTabs Color="@LumexUI.Common.ThemeColor.Primary">
        <LumexTab>
            <TitleContent>
                <div class="flex items-center gap-2">
                    <DiceIcon Size="20" />
                </div>
            </TitleContent>
            <ChildContent>
                <SettingsGames />
            </ChildContent>
        </LumexTab>
        <LumexTab>
            <TitleContent>
                <div class="flex items-center gap-2">
                    <ArrowIcon Size="20" />
                </div>
            </TitleContent>
            <ChildContent>
                <SettingsFactions />
            </ChildContent>
        </LumexTab>
        <LumexTab>
            <TitleContent>
                <div class="flex items-center gap-2">
                    <PawnIcon Size="20" />
                </div>
            </TitleContent>
            <ChildContent>
                <SettingsPlayers />
            </ChildContent>
        </LumexTab>
        <LumexTab>
            <TitleContent>
                <div class="flex items-center gap-2">
                    <MapPinIcon Size="20" />
                </div>
            </TitleContent>
            <ChildContent>
                <SettingsLocations />
            </ChildContent>
        </LumexTab>
    </LumexTabs>
</div>
@code {

}
