@page "/settings"

<h3>Settings</h3>

    <LumexTabs>
        <LumexTab Title="Games">
            <SettingsGames/>
        </LumexTab>
        <LumexTab Title="Factions">
            <SettingsFactions/>
        </LumexTab>
        <LumexTab Title="Players">
            <SettingsPlayers/>
        </LumexTab>
        <LumexTab Title="Locations">
            <SettingsLocations />
        </LumexTab>
    </LumexTabs>


@code {

}
