@using LumexUI.Common
@using Microsoft.EntityFrameworkCore

@inject AppDbContext Db
@inject NavigationManager Nav


<LumexDataGrid Data="@_locations" SelectionMode="@SelectionMode.Multiple" @bind-SelectedItems="_selectedLocations" @key="_refreshKey">
    <ToolbarContent>
        <div class="max-w-sm">
            <ModalLocation OnCreated="UpdateData"/>
            <LumexButton OnClick="() => _showDeleteModal = true" Disabled="_selectedLocations.Count < 1">Delete Selected</LumexButton>
        </div>
    </ToolbarContent>
    <ChildContent>
        <PropertyColumn Property="@(p => p.Description)" />
    </ChildContent>
</LumexDataGrid>

@if (_showDeleteModal)
{
    <ModalDelete OnResult="@DeleteSelected" _open="_showDeleteModal" Header="Delete location" Description="Are you sure you want to delete the selected location?" />
}

@code {
    private IQueryable<mdLocation> _locations => Db.Locations;
    private ICollection<mdLocation> _selectedLocations = [];
    private int _refreshKey;
    private bool _showDeleteModal = false;
    
    protected override async Task OnInitializedAsync()
    {
        await UpdateData();
    }

    private async Task UpdateData()
    {
        _refreshKey++;
        StateHasChanged();
    }



    private async Task DeleteSelected(bool confirmed)
    {
        _showDeleteModal = false;
        if (!confirmed) return;

        Db.Locations.RemoveRange(_selectedLocations);
        await Db.SaveChangesAsync();
        await UpdateData();
    }

}

